<div class="col-md-4 form">
    <div class="">
        <label for="nombre" class="form-label">Nombre</label>
        <input type="text" class="form-control" id="nombre" name="nombre" [(ngModel)]="nombre" required>
    </div>
    <div class="">
        <label for="descripcion" class="form-label">Descripción</label>
        <textarea class="form-control" id="descripcion" [(ngModel)]="descripcion" required></textarea>
    </div>
    <div class="">
        <label for="precio" class="form-label">Precio</label>
        <input type="number" class="form-control" id="precio" name="precio" [(ngModel)]="precio" required>
    </div>
    <div class="">
        <input type="submit" class="btn btn-primary" value="Guardar" (click)="createMedicalService()">
    </div>
</div>