<form class="col-md-4">
    <div class="">
        <label for="nombre" class="form-label">Nombre</label>
        <input type="text" class="form-control" id="nombre" name="nombre" [(ngModel)]="nombre" required>
    </div>
    <div class="">
        <label for="apellido" class="form-label">Apellido</label>
        <input type="text" class="form-control" id="apellido" name="apellido" [(ngModel)]="apellido" required>
    </div>
    <div class="">
        <label for="dni" class="form-label">DNI</label>
        <input type="text" class="form-control" id="dni" name="dni" [(ngModel)]="dni" required>
    </div>
    <div class="">
        <label for="fecha_nac" class="form-label">Fecha nacimiento</label>
        <input type="date" class="form-control" id="fecha_nac" name="fecha_nac" [(ngModel)]="fecha_nac" required>
    </div>
    <div class="">
        <label for="email" class="form-label">Email</label>
        <input type="email" class="form-control" id="email" name="email" [(ngModel)]="email" required>
    </div>
    <div class="">
        <label for="telefono" class="form-label">Teléfono</label>
        <input type="text" class="form-control" id="telefono" name="telefono" [(ngModel)]="telefono" required>
    </div>
    <div class="">
        <label for="direccion" class="form-label">Dirección</label>
        <input type="text" class="form-control" id="direccion" name="direccion" [(ngModel)]="direccion" required>
    </div>
    <div class="">
        <input type="submit" class="btn btn-primary" value="Guardar" (click)="savePatient()">
    </div>
</form>
