<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">HackaCode2025</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownServices" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Services
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdownServices">
              <li><a class="dropdown-item" routerLink="/services">Services</a></li>
              <li><a class="dropdown-item" routerLink="/services/add">Add service</a></li>
            </ul>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownServicePacks" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Service Packs
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdownServicePacks">
              <li><a class="dropdown-item" routerLink="/service-packs">Service packs</a></li>
              <li><a class="dropdown-item" routerLink="/service-packs/add">Add service pack</a></li>
            </ul>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownPatient" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Patients
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdownPatient">
              <li><a class="dropdown-item" routerLink="/patients">Patients</a></li>
              <li><a class="dropdown-item" routerLink="/patients/add">Add patient</a></li>
            </ul>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownAppointments" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Appointments
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdownAppointments">
              <li><a class="dropdown-item" routerLink="/appointments">Appointments</a></li>
              <li><a class="dropdown-item" routerLink="/appointments/add">Add appointment</a></li>
            </ul>
          </li>

        </ul>
      </div>
    </div>
  </nav>

<router-outlet />